body {
    background-image: url(../images/footer.svg);
    background-position: bottom -30px right 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h1 {
    font-size: 2em;
    color: #73ba25;
}

.reveal h2.author {
    font-size: 1.2em;
    color: #173f4f;
}

h2.email {
    font-size: 1.1em;
}

.reveal h2 {
    /*    color: #173f4f; */
/*    color: #31aba0; */
    color: #73ba25;
}

.reveal h3 {
    color: #1b8483;
}

section {
    color: #173f4f;
}

.reveal .controls .controls-arrow {
    color: #73ba25;
}

.reveal a {
    color: #009486;
}

.reveal section img {
    box-shadow: none;
    border: none;
}

.reveal .controls {
    bottom: 64px;
}
